body {
    background-color: black;
    text-transform: lowercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    text-align:right;
    border-radius: 10px;
}

.espaco_principal {
    display: flex;
    border-radius: 2px;
    justify-content: space-around;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 2px;
    display: flex;
}

.espaco:hover {
    transform: scale(1.05);
}

.espaco {
    background-color: white;
    width: 200px;
    height: 200px;
    margin: 2px;
    justify-content: space-between;
    display: flex;
    border-color: black;
    cursor: pointer;
    text-align: justify;
    display: flex;
}


